extends layout

block content
  nav.navbar.navbar-inverse
    ul.nav.navbar-nav
      li
        a(href='#') 组网与因特网学习
      li.active
        a(href='#') 首页
      li
        a(href='#') 文字学习
      li
        a(href='#') 视频学习
      li
        a(href='#') 论坛
      li
        a(href='#') 题库与作业
      li
        a(href='#') 个人中心
      li
        a(href='/user/login') 登录
      li
        a(href='/user/regist') 注册